<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <a href="/profile"><i class="fas fa-user user-icon"></i></a>
    <form th:action="@{/profile}" method="post" class="search-form">
        <input type="text" class="search-input" name="searchQuery" placeholder="Search user">
    </form>
    <nav>
        <ul>
            <li><a href="/home"><i class="fas fa-file-alt user-icon"></i></a>
            <li><a href="/contacts"><i class="fas fa-users user-icon"></i></a></li>
            <li><a href="/messenger"><i class="fas fa-comments user-icon"></i></a></li>
            <li><a href="/profile/settings"><i class="fas fa-cog user-icon"></i></a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt user-icon"></i></a></li>
        </ul>
    </nav>
</header>

<div th:each="user : ${friends}" class="contact-form" style="display: flex; align-items: center;" th:attr="onclick='redirectToProfile(\'' + @{${'/profile/' + user.username}} + '\');'">
    <div class="user-photo-small">
        <img th:src="${user.profilePhotoUrl}" style="width: 50px; height: 50px;">
    </div>
    <h1 th:text="${user.username}" style="margin-left: 10px;"></h1>
</div>


<div class="horizontal-divider"></div>
</body>
<script>
    function redirectToProfile(url) {
        window.location.href = url;
    }
</script>