<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <a href="/home"><i class="fas fa-file-alt user-icon"></i></a>
    <nav>
        <ul>
            <li><a href="/chat"><i class="fas fa-comments user-icon"></i></a></li>
            <li><a href="/profile/settings"><i class="fas fa-cog user-icon"></i></a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt user-icon"></i></a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="content-wrapper">
        <div class="left-section">
            <div class="user-photo">
                <img src="">
            </div>
        </div>

        <div class="right-section">
            <section class="new-post-form">
                <form th:action="@{/profile}" method="post">
                    <textarea name="postContent" rows="3" placeholder="Write your post here"></textarea>
                    <button type="submit">Create Post</button>
                </form>
            </section>
            <div th:each="post : ${posts}" class="post new-post-form">
                <h2 th:text="${post.ownerUsername}"></h2>
                <p th:text="${post.text}"></p>
            </div>
        </div>
    </div>
</main>
</body>